* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body{
  height: 100vh;
  overflow: hidden;

  /* background: linear-gradient(135deg, #933893, #22242b); */

  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), radial-gradient(ellipse at 80% 5%, #4c00ff 0%, rgb(255 40 184 / 0%) 30%), radial-gradient(ellipse at bottom left, #ff006a 0%, rgb(98 190 255 / 31%) 60%), linear-gradient(135deg, rgba(18, 46, 119, 0) 0%, rgba(18, 46, 119, 0) 75%, #395eff 100%), linear-gradient(82deg, #dff7ff 0%, #74b5ff 27%, #88b8ff 74%, #82b3ff 100%);
  background-blend-mode: screen, hue, color, overlay;

  background-repeat: no-repeat;

}

.App {
  margin: 5vh 25vw;
  padding: 30px;
  background: rgba(255, 255, 255, 0.463);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  min-height: 80vh;
  height: 90vh;  
  display: flex;
  flex-direction: column;

  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    
}

.todo-input-wrapper {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  height: 10vh;
}

.todo-input-bar {
  width: 500px;
  height: 35px;
  font-size: 14px;
  outline: none;
  border: 1px solid rgb(241, 236, 236);
  padding: 8px;
  border-radius: 4px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.add-button{
  width: 35px;
  height: 35px;
  border-radius: 4px;
  margin-left: 10px;
  background-color: rgba(0, 156, 0, 0.745);
  text-align: center;
  line-height: 35px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  border: none;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.add-button:hover{
  transition: 0.3s ease-in-out;
  transform: scale(1.03);
}

.todos-list{
  margin-top: 30px;
  font-size: 16px;
  flex: 1;
  
  overflow-y: scroll;
  
}
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.584);
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(102, 101, 101, 0.831);
}


.todo{
  display: flex;
  justify-content: space-between;
  width: auto;
  background: rgba(255, 255, 255, 0.537);
  color: #fff;
  padding: 10px;
  margin: 5px;
  margin-bottom: 7px;
  border-radius: 4px;
  color: #404040;

  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.todo:hover{
  transition: 0.1s ease;
  transform: scale(1.005);
  
}

#todo-title{
  cursor: pointer;
  overflow-wrap: break-word;
  max-width: 400px;
}
#todo-title:hover{
  color: rgb(116, 203, 66);
}

.complete{
  color: green;
  text-decoration: line-through;
}

.delete{
  color: hsla(0, 67%, 74%, 0.395);
  font-size: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.delete:hover{
  transition: 0.3s ease-in-out;
  transform: scale(1.03);
}

.error-message{
  margin: 0;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 3px red, 0px 2px 3px red;
}

.label {
	margin: 1.8cqw;
  padding: .375rem 0;
	font-family: 'Fira Sans', sans-serif;
}

.date {
  position: absolute;
  font-weight: bold;
  font-size: 5cqw;
  text-align: left;
  
  top:0;
  left:0;
  width: 25%;
}

.denomination {
  position: absolute;
  font-weight: bold;
  font-size: 5cqw;
  text-align: center;
  
  top:0;
  left:30%;
  width: 40%;
}

.grade {
  position: absolute;
  font-weight: bold;
  font-size: 5cqw;
  text-align: right;
  
  top:0;
  right:0;
  width: 15%;
}

.issuer {
  position: absolute;
  font-weight: bold;
  font-size: 5cqw;
  text-align: left;
  
  bottom:0;
  left:0;
  width: 70%;
}

.catalogNumber {
  position: absolute;
  font-weight: lighter;
  font-size: 5cqw;
  text-align: right;
  
  bottom:0;
  right:0;
  width: 20%;
}

.mintage {
  position: absolute;
  font-weight: lighter;
  font-size: 4.5cqw;
  text-align: left;
  
  bottom:9cqw;
  left: 0;
  width: 70%;
}

.details {
  position: absolute;
  font-weight: lighter;
  font-style: italic;
  font-size: 4.5cqw;
  text-align: left;
  
  top:8cqw;
  left:0;
  width: 40%;
}

.composition {
  position: absolute;
  font-weight: lighter;
  font-size: 4.5cqw;
  text-align: right;
  display: flex;
  align-items: flex-end;
  
  bottom: 0;
  right: 0;
  width: 70%;
}

.mass {
  position: absolute;
  font-weight: lighter;
  font-size: 4.5cqw;
  text-align: left;
  
  bottom:0;
  left:0;
  width: 30%;
}

.diameter {
  position: absolute;
  font-weight: lighter;
  font-size: 4.5cqw;
  text-align: left;
  
  bottom:8cqw;
  left:0;
  width: 30%;
}

.date-added {
  position: absolute;
  font-weight: lighter;
  font-size: 4.5cqw;
  text-align: right;
  
  top:0;
  right:0;
  width: 30%;
}

.numista-number{
  font-weight: lighter;
  font-size: 4.5cqw;
  text-align: center;
}

.qr-code {
  position: absolute;
  
  top:0cqw;
  bottom: 16.5cqw;
  left:16.5cqw;
  right:12cqw;
}

.parent-label-large {
  container-type: size;
  background: #FAF9F6;
  position: relative;

  box-shadow: 10px 10px 5px lightblue;

  width: 104mm;
  height: 104mm;
}

.input-group>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: 0px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


@media (max-width: 750px){

  .App{
    margin: 10%;
    display: flex;
    margin: 5vh 10% 10%;
    height: 80vh;
  }

  .todo-input-wrapper{
    margin-top: 10%;
    flex-direction: column;
    align-items: center;
  }

  .todo-input-bar{
    width: 100%;
    flex: 1;
    margin-bottom: 0.7rem;
  }



}